@{
    ViewData["Title"] = "Gestione categorie";
    Layout = "_Layout";
}

@model List<Category>

@if (Model.Count != 0)
{
    <div id="imagesDb">
        <div class="row mb-3 fw-bold">
            <div class="col d-flex align-items-center fs-4 pb-2">
                <div class="col-4 text-center">
                    Nome
                </div>
                <div class="col-4 text-center">
                    Descrizione
                </div>
            </div>
        </div>

        <div>
            @foreach (var category in Model)
            {
                <div class="row mb-3">
                    <div class="col d-flex align-items-center fs-4 pb-2">
                        <div class="col-4 text-center">
                            @category.Name
                        </div>
                        <div class="col-4 text-center">
                            @category.Description
                        </div>
                        <div class="col-4 text-center pl-4">
                            @if (User.IsInRole("ADMIN"))
                            {
                                <a href="@Url.Action("Update", "Categories", new { id = category.Id })" class="btn" style="background-color:green; color:white;">Modifica</a>
                            }

                            @if (User.IsInRole("ADMIN"))
                            {
                                <form asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" method="post" onsubmit="return confirmDelete(event)">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Elimina
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div id="filtered-images" class="d-none">
</div>
<div id="no-images" class="@(Model.Count == 0 ? "" : "d-none")">
    Nessuna immagine trovata
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(event) {
        event.preventDefault(); // Impedisce l'invio del modulo immediato

        Swal.fire({
            title: 'Sei sicuro?',
            text: 'Questa operazione non può essere annullata!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Elimina',
            cancelButtonText: 'Annulla'
        }).then((result) => {
            if (result.isConfirmed) {
                event.target.submit(); // Invia il modulo dopo la conferma
            }
        });
    }
</script>